@model Blog.Persistence.Blog

@using (Html.BeginForm("CreateAsync", "Blog", FormMethod.Post))
{
    <div class="w-100">
        <div class="form-group mb-2 w-50">
            <input class="w-100" type="text" placeholder="Title" required name="Title" min="2" maxlength="50">
            @Html.ValidationMessageFor(x => x.Title)
        </div>
        <div class="form-group mb-2 w-50">
            <input class="w-100" type="text" placeholder="Blog text" required name="BlogText" min="2">
            @Html.ValidationMessageFor(x => x.BlogText)
        </div>
        <div class="form-group">
            <input type="submit" value="Post blog" class="btn btn-primary">
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
